.start-date{
    width: 70%;
    float: right;
}
.end-date{
    width: 70%;
}
.label-date{
    margin-left:150px
}
div.body{
    position: relative;
}
div.btn-submit{
    position: absolute;
    top: 30px;
    right: 80px;
}
.find{

    position: relative;
    bottom: 30px;
    width: 100px;
    background-color: light;
}
.tap-cate{
    position: absolute;
    left: 400px;
    align-content: center;
    /* background-color: aqua; */

}
.tap-item{
    margin-right: 10px;
    background-color: aquamarine;
    border-radius: 6px;
}
.btn-add_room{
    /* margin: 0; */
    padding: 0.1rem 0.5rem;
    /* background-color: aliceblue; */
}
.btn-add_room:hover{
    opacity: 80%;
    /* background-color: aliceblue; */
}
.submit-all{
    position: fixed;
    bottom: 10px;
    left: 55%;

}
.header-titile{
    height: 40px;
    margin-top: 30px;
    /* background-color: t; */
    border-radius: 4px;
}
.header-titile h4{
    padding-top: 7px;
}
.thead-room{
    background-color: #eeaf70 !important;
    padding: 0rem !important;
    /* margin: 0; */
}
.thead-room, tr, th{
    padding: 5px !important;
}
.tbody-room,tr,td{
    padding: 5px !important;
}
.tbody-room-modal,tr,td{
    padding: 10px !important;
    /* text-align: center !important; */
}
.tbody-room-modal,tr #td-check{
    width: 50px !important;
}
.clickBox{
    left: 50px;
}
.tent-checkbok{
    left: 50px;
}
.place_camping{
    margin-top:30px;
    height:35px;
    border-radius: 4px;
    background-color:lightblue;
}
.place_chek{
    margin-top:30px;
    height:35px;
}
.con-taps{
    margin-left: 1rem;
}
.check_pace{
    margin-left: 1.3rem;
    margin-top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}
.input_place{
    margin-top: 0.8rem;
    height: 2rem;
    display: none;
}
.bg-test{
    background-color: red;
}

