

.class-action{
    background-color: rgb(0, 98, 255);
    float: right;
    border-radius: 5px;
    font-size:small;
    
}
#btn-create{
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px;
    color: white;
    text-decoration: none;
}
.header-b{
    margin-top: 15px;
    background-color: antiquewhite;
    border-radius: 4px;
    margin-bottom: 10px;
}
.header-b h5{
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;


}
div.dataTables_length select {
    font-size: 1em;
    background-color: rgb(207, 219, 209) !important;
    width: 60px !important;
    border-radius: 5px !important;
   
}

#trstyle{
    background-color: rgb(12, 12, 217) ;
    height: 40px !important;
    
}
#trhead{
    background-color:hsl(240, 83%, 65%);
    height: 20px !important;
    color: white;
    font-size: smaller;
}

.login-form{
    width: 400px !important;
    height: auto;
    margin-top: 50px;
    background-color: rgb(199, 246, 230) !important;
    border-radius: 5px;
 
}
#email_address{
    margin-top: 40px;
}
#password{
    margin-top: 20px;
}
#logo{
    margin-left: 110px;
}
.forget-pw{
    margin-top: 20px;
    margin-left: 130px;
}
.btn-login{
    margin-top: 30px;
    margin-left: 140px;

}
.sidebar{
    background-color:rgb(227, 225, 243);
}
.link-border{
    /* padding: auto; */
    margin: 3px;
    border-radius: 4px;
    background:#a5acc7;
    color: black;
}
.link-text{
    margin: -15px;
}
.bg-navbar{
    background-color:#a5acc7;
}
.nav-row{
    color: black !important;
    /* margin-top: 10px !important; */
}
.logo-brand{
    
    /* background-image: url("../assets/img/logo.png"); */
    background-image: url("../assets/img/logo.png");
    background-size: cover;
    background-position: center;
    /* background-color: #cccccc; */
    width: 90px;
    height: 70px;
    border-radius: 4px;
    /* 
    margin-right: -12px;
     */
    margin-left: 65px;
    margin-bottom: 5px;
    margin-top: 5px;
    /* padding-top: 20px; */
}
.link-service{
    border-radius: 2px;
    height: 35px;


}
.bg-link{
    /* margin-top: -3px; */
    background-color: #bbbbfa;
    margin-right: 3px;
}
.title-form{
    /* background-color: rgb(184, 165, 250); */
    border-radius: 4px;
    margin-left: 40px;
    margin-right: 40px;
    /* margin: auto; */
}
.forlabel{
    margin-left: 10px;
    
}
.bg-form{
    background-color: #dedfe0;
}
.table-room{
    border-collapse: separate !important;
    /* border-spacing: 1px !important;   */
}
.input-img-tent{
    width: 100px !important;
    height: 100px !important;
    border: 1px solid rgb(81, 225, 244); 
}
.input-img-tent input{
    width: 100%;
    height: 100%;
    opacity: 0;
}

 /* status style */

.status {
margin: 0 auto;
padding: 5px;
font-size: 14px;
border-radius: 3px;
text-transform: capitalize;
width: 90px;
display: block;
text-align: center;
color: #fff;
}

.pending {
background-color: #ffad04;
border-color: transparent;
}

.approved {
background-color: #3399ff;
border-color: transparent;
}

.rejected {
background-color: #dc3545;
border-color: transparent;
}
.success {
    background-color: #00ff00;
}
.title-text{
    font-family: "Khmer OS Siemreap Regular", Times, serif;
    
}
.dashboard{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.btn-add_tent{
    padding: 5px !important;
}
.btn-add_room{
    padding: 5px !important;
}
.qty_place{
    display: none;
}
.detail_body{
    border-radius: 4px;
    /* border-style: solid;
    border-color: #0000ff; */
}
.ms-status{
    background-color: rgb(246, 70, 70);
    height: 2rem;
}
.role-user{
    padding: 10px;
}

.image{
    
    width: 200px;
    height: 200px;
    float: left;
    border: 1px solid rgb(75, 75, 74);
    background-image: url("../assets/image_system/user-staff.png");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.body_iamge{
    margin-top: 30px;
}
.body_iamge {
    width: 100%;
    height: 100%; 
}
/* .body_iamge input {
    opacity: 0;
    width: 100%;
    height: 100%;
} */
.divup {
    position: relative;
    overflow: hidden;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
.divup input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }
.body_iamge h5{
    margin-left: 10px;
    text-shadow:1px 1px #bcbdbe;
    font-style: normal;
}
.btn-adUser{
    cursor: pointer;
}
.submenu-setting{
    list-style-type: none;
}
.submenu ul li a{
    list-style-type: none;
}
/* .search_date{
    height: 30px;
} */
.btn_search {
   margin-bottom: 10px;
}
.btn_hide{
    margin-bottom: 10px;
}
#frm_search{
    border-radius: 4px;
    padding: 10px;
    background-color: #dedfe0;
    width: 400px;
    margin-bottom: 20px;
}
.div_form_search{
    margin-top: -20px;
}




