/* @import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-family: sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex1 {
    text-align: center;
}

.flex {
    display: flex;
}

.flex_space {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    background: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

.primary-btn {
    padding: 10px 30px;
    background: #75e40d;
    font-weight: bold;
    color: white;
    padding-bottom: 15px;
}

.primary-btn:hover {
    /* padding: 15px 40px; */
    background: #8dd43c;
    font-weight: bold;
    color: white;
}

.secondary-btn {
    padding: 15px 40px;
    background: none;
    border: 2px solid white;
    font-weight: bold;
    color: white;
}

.secondary-btn:hover {
    padding: 15px 40px;
    background: none;
    border: 2px solid rgb(133, 128, 128);
    font-weight: bold;
    color: white;
}

.container {
    max-width: 85%;
    margin: auto;
}

/* header */
header {
    height: 10vh;
    line-height: 10vh;
    padding: 0 20px;
}

header img {
    padding: 20px 0;
}

header ul {
    display: inline-block;
    list-style: none;
}

header ul li {
    display: inline-block;
    text-transform: uppercase;
}

header ul li a {
    color: #000;
    margin: 0 10px;
    transition: 0.5s;
    text-decoration: none;
}

header ul li a:hover {
    color: #7fc142;
}

header i {
    margin: 0 20px;
}

header button {
    padding: 13px 40px;
}

header .navlinks span {
    display: none;
}

@media only screen and (max-width:768px) {
    header ul {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #009f7f;
        overflow: hidden;
        transition: mak-height 0.5s;
        text-align: center;
        z-index: 9;
    }

    header ul li {
        display: block;
    }

    header ul li a {
        color: white;
    }

    header i {
        color: white;
    }

    header .navlinks span {
        color: black;
        display: block;
        cursor: pointer;
        line-height: 10vh;
        font-size: 25px;
    }
}

/*---End header--- */


/* home */
/* .home{
    height: 80vh;
    color: #fff;
} */

/* .home img{
    width: 100%;
    height: 100%;
    opacity: 85%;
} */

.home .text {
    position: absolute;
    top: 35%;
    left: 25%;
    text-align: center;
}

.home .text h1 {
    font-size: 80px;
    font-family: serif;
    font-weight: 700;
    text-align: center;
}

.home .text p {
    font-size: 22px;
    font-family: serif;
    font-weight: 100;
}

.home p {
    margin: 30px 0;
}

.home button {
    margin-right: 20px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5) !important;
    color: #fff;
}

.owl-nav .owl-prev {
    left: 0;
}

.owl-nav .owl-next {
    right: 0;
}

/* ---End home--- */

/* --date-booking-- */
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.input {
    outline: none;
    border: none;
    width: 100%;
}

.book {
    padding: 40px 0;
    background: #282834;
    color: #fff;
}

h1 {
    font-family: serif;
}

.book h1 {
    font-size: 28px;
}

.book h1 span {
    color: #7fc142;
}

.book input {
    padding: 20px;
}

.book input:nth-last-child(1) {
    background: #7fc142;
    color: #fff;
}

/* --End date-booking-- */

/* ---about--- */
.left,
.right {
    width: 50%;
    padding: 30px;
}

.top {
    margin-top: 80px;
}

.mtop {
    margin-top: 40px;
}

.heading h1 {
    margin-top: -1rem;
    font-size: 100px;
    font-weight: 500;
    opacity: 0.1;
    font-family: serif;
    position: absolute;
    top: -30px;
}

.heading h2 {
    /* margin-left: 9rem; */
    margin-bottom: 3rem;
    font-size: 45px;
    font-family: serif;
    font-weight: 400;
}
.heading p {
    margin: 1rem 2rem;
    font-size: 15px;
}
.about .heading h1 {
    top: 55px;
}

.about {
    position: relative;
}

.about .left {
    margin-top: 30px;
    float: left;
}

.about p {
    font-size: 15px;
}
.about1 p {
    font-size: 15px;
    margin-left: 8rem;
}
.about1 i {
    margin-left: 8rem;
    padding: 0 2rem;
    color: #75e40d;
}
.about button {
    margin: 30px 0;
}

/* ---End about--- */

/* ---ECounter-- */
/* .counter{
    background-image: url("../images/accommodation3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
    color: #fff;
} */
.counter .grid {
    grid-template-columns: repeat(4, afr);
    text-align: center;
    place-items: center;
    padding-top: 60px;
}

.counter h1 {
    font-size: 50px;
}

.counter hr {
    width: 50%;
    margin: 10px auto;
    background: #7fc142;
    height: 2px;
    border: none;
}

/* ---End Counter--- */

/* ---Rooms--- */
.rooms{
    position: relative;
}
.room-img{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    padding:  30px;
}
.rooms .text{
    /* border: 1px solid rgba(0.1, 0.1, 0.1, 0.1); */
    border-top: none;
    padding:5px;
    width: 100%;
}
.rooms .column1{
    margin-left: 1rem;
}
.rooms .text img {
   width: 230px;
}
.rooms i{
    font-size: 12px;
    color: #fbb234;
    margin: 15px 0;
}

.rooms p{
    margin: 20px 0;
    opacity: 0.7;
    font-size: 14px;
}

.rooms h3{
    font-size: 30px;
    line-height: 15px;
    margin-left: 20px;
    font-weight: 500 ;
    color: #7fc142;
}

.rooms h3 span{
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

/* ---End Rooms--- */
/* ---Gallery--- */

.gallery {
    position: relative;
}

.gallery img {
    width: 100%;
    height: 100%;
}

.gallery .img {
    position: relative;
}

.gallery .img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(126, 193, 65, 0.86);
    width: 255px;
    height: 251px;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}

.overlay {
    position: absolute;
    top: 35%;
    left: 25%;
    z-index: 3;
    text-align: center;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.gallery span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 2px solid white;
}

.overlay h3 {
    margin-top: 20px;
    font-weight: 500;
}

.gallery .items:hover .overlay,
.gallery .items:hover .img::after {
    opacity: 1;
    cursor: pointer;
}

.gallery .owl-nav .owl-prev {
    left: 88%;
}

.gallery .owl-nav .owl-next {
    right: 0%;
}

.gallery .owl-nav .owl-next,
.gallery .owl-nav .owl-prev {
    top: -40%;
}

/* ---End Gallery--- */

/* ---Gallery1--- */

.gallery1 {
    position: relative;
}

.gallery1 img {
    width: 100%;
    height: 100%;
}

.gallery1 .items {
    float: left;
    width: 320px;
    height: 300px;
}

.gallery1 .heading {
    position: relative;
    text-align: center;
    opacity: 90%;

}

.gallery1 .heading h1 {
    left: 350px;
    position: relative;
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    opacity: 0.1;
    font-family: serif;
    position: absolute;
    top: -30px;

}

.gallery1 .img {
    position: relative;
}

.gallery1 .img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(126, 193, 65, 0.86);
    width: 240px;
    height: 240px;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}

.overlay {
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 3;
    text-align: center;
    color: rgb(0, 248, 21);
    opacity: 0;
    transition: 0.5s;
}

.gallery1 span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 2px solid white;
}

.overlay h3 {
    margin-top: 20px;
    font-weight: 500;
}

.gallery1 .items:hover .overlay,
.gallery1 .items:hover .img::after {
    opacity: 1;
    cursor: pointer;
}

.gallery1 .owl-nav .owl-prev {
    left: 88%;
}

.gallery1 .owl-nav .owl-next {
    right: 0%;
}

.gallery1 .owl-nav .owl-next,
.gallery1 .owl-nav .owl-prev {
    top: -43%;
}

/* ---End Gallery1--- */

/* ---Services--- */
.services {
    position: relative;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.services .left {
    padding: 30px 0;
}

.services .box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.5s;
    padding: 20px;
}

.services .box .text {
    padding: 30px 0;
    border: 1px dashed #fff;
}

.services i {
    font-size: 50px;
    color: #7fc142;
    transition: 0.5s;
}

.services h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    transition: 0.5s;
}

.services img {
    width: 100%;
    height: 100%;
}

.services .box:hover {
    background: #7fc142;
    color: #fff;
    cursor: pointer;
}

.services .box:hover i,
.services .box:hover h3 {
    color: #fff;
}

/* ---End Services--- */

/* ---Customer--- */
.customer {
    background-image: url("../images/a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    color: #fff;
    text-align: center;
}

.customer .container {
    max-width: 70%;
}

.customer .items {
    padding: 10% 0;
}

.customer i {
    width: 100px;
    height: 100px;
    background: rgba(126, 193, 64, 0.57);
    line-height: 100px;
    border-radius: 50%;
    font-size: 50px;
    margin-bottom: 50px;
}

.customer p {
    line-height: 30px;
}

.customer h3 {
    margin-top: 20px;
    color: #7fc142;
}

.customer span {
    font-size: 15px;
}

.owl-carousel2 .owl-dots {
    position: absolute;
    bottom: 70px;
    left: 46.6%;
}

/* .owl-carousel2 .owl-dots i {
    color: #7fc142;
}

.owl-carousel2 .owl-dots i:hover button {
    color: #7fc142 !important;
}

.owl-carousel2 span {
    border: 2px solid #fff;
    background: transparent !important;
}

.owl-carousel2 .active span {
    background: #7fc142 !important;
    border: 2px solid white;
} */

/* ---End Customer--- */



/* ---Newsletter--- */
.newsletter {
    position: relative;
}

.newsletter .container {
    background: #7fc142;
    padding: 40px 30px;
    position: absolute;
    top: -70px;
    left: 8%;
    width: 100%;
    margin: 50px 10px;
}

.newsletter h1 {
    width: 100%;
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

.newsletter input {
    padding: 20px;
}

.newsletter input:nth-last-child(2) {
    width: 80%;
    background: rgba(255, 255, 255, 0.4);
}

.newsletter input:nth-last-child(1) {
    margin-left: 20px;
    width: 30%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

/* ---End Newsletter--- */

/* ---Footer--- */
footer {
    background: #282834;
    color: #b6b7b9;
    padding: 10% 0 5% 0;
}

/* footer .grid{
    grid-template-columns: 6fr 3fr 3fr;
} */

footer p {
    color: #b6b7b9;
    font-size: 15px;
    line-height: 35px;
}

footer .icon i {
    margin: 20px 20px 20px 0;
    color: #b6b7b9;
}

footer h2 {
    color: #fff;
    margin-bottom: 10px;
}

footer li {
    color: #ffffff;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}

footer li a {
    color: #ffffff;
}

footer li a:hover {
    color: #7fc142;
}

footer i {
    color: #7fc142;
    margin: 20px 0;
    margin-right: 20px;
    font-size: 18px;
}

footer label {
    margin: 10px 0;
}

.legal {
    height: .6vh;
    text-align: center;
    /* margin: 3rem 00px;
    padding: 15px 20px; */
    background: #282834;
    color: #b6b7b9;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* ---End Footer--- */

@media only screen and (max-width:768px) {
    .home {
        color: white;
        height: 50vh;
    }

    .home img {
        width: 100%;
        height: 50vh;
    }

    .left .right {
        width: 100%;
    }

    .book h1 {
        margin-bottom: 20px;
    }

    .container.flex,
    .book .flex_space {
        flex-direction: column;
    }

    .book .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .container .grid {
        grid-template-columns: repeat(2, 1fr);
    }
/* 
    .owl-carousel .owl-nav .owl-prev {
        left: 80%;
    } */

    .gallery .owl-nav .owl-prev {
        left: 75%;
    }

    .gallery .owl-nav .owl-prev,
    .gallery .owl-nav .owl-next {
        top: -80%;
    }

    .rooms .owl-nav .owl-prev,
    .rooms .owl-nav .owl-next {
        top: -30%;
    }

    .services .flex_space {
        flex-direction: column;
    }

    .customer {
        height: 60vh;
    }

    .customer .container {
        max-width: 80%;
    }

    /* .owl-carousel2 .owl-dots {
        bottom: 0;
        left: 44.5%;
    } */

    .news .content.flex {
        flex-direction: column;
    }

    .news .left {
        padding: 30px 0;
        width: 100%;
    }

    .news .right {
        width: 100%;
    }

    .newsletter {
        position: relative;
        background: #7fc142
    }

    .newsletter .container {
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 30px;
        position: relative;
        background: #7fc142;
    }

    .newsletter .flex_space {
        flex-direction: column;
    }

    .newsletter input:nth-last-child(2) {
        margin: 20px 0;
        width: 100%;
    }

    .newsletter input:nth-last-child(1) {
        margin: 0;
        width: 100%;
    }

    footer .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Bordered form Login */
    form {
        border: 3px solid #f1f1f1;
    }

}



/* Style inputs */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    /* background-color: #250101; */
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    margin: 0 3rem;
    float: left;
    width: 40%;
    margin-top: 6px;
    padding: 20px;
}
.column1 {
    margin: 0 3rem;
    float: left;
    width: 33%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    margin-left: 80px;
    background-image: url("../images/logo-login.png");
    background-size: cover;
    background-position: center;
    width: 110px;
    height: 85px;
}

.slider {
    height: 90vh;
    object-fit: fill;
    border-radius: 4px;
    /* margin-top: 10px; */

}

.slider img {
    height: 720px !important;
    width: 1600px !important;
    object-fit: fill;
    opacity: 80%;
}

.slider h1 {
    color: white;
    text-shadow: 2px 2px 5px #070707;
}

.slider p {
    color: white;
    text-shadow: 2px 2px 5px #070707;
}

.slider .t1 {
    color: white;
    text-shadow: 2px 2px 5px #070707;
}

.book_btn {
    padding: 15px;
    background-color: #04AA6D;
    border-radius: 4px;
    color: white;
}

.slider-gallery {
    height: 400px;
}

.slider-gallery img {
    /* height: 720px !important;
    width: 1600px !important; */
    object-fit: fill;
}

.book_btn:link {
    text-decoration: none;
}

.gallery-i {
    height: 350px;
}

#menulist a:hover {
    border-radius: 5px;
    background-color: #04AA6D !important;
    padding: 1.5rem;
}

#menulist a:hover:link {
    color: white;
    text-decoration: none !important;
}



/* New II */
/*Gallery3*/

.gallery3 img {
    margin-left: 2.5rem;
    height: 30rem;
    width: 40rem;
    border-radius: .5rem;
    object-fit: cover;
    margin-bottom: 4rem;
    user-select: none;
}

.gallery4 img {
    margin-left: 2rem;
    height: 20rem;
    width: 30rem;
    border-radius: .5rem;
    object-fit: cover;
    margin-bottom: 2rem;
    user-select: none;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
}

.swiper-pagination-bullet {
    background-color: var(--sub-color);
}

.swiper-pagination-bullet-active {
    background-color: var(--white);
}

/*endofGallery3*/
/* Room Book */

/* Room Last */
.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
}

.about .row .image {
    flex: 1 1 40rem;
}

.about .row .image img {
    margin: 0 2rem;
    width: 45rem;
    border-radius: .5rem;
}

.about .row1 .image img {
    margin: 1rem 5%;
    height: 300px;
    width: 90%;
    border-radius: .5rem;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--sub-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.about .row .content p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.7rem;
    color: var(--sub-color);
}

.about .row .content h3 {
    color: #00bd19;
}

.about .row.revers {
    flex-flow: row-reverse;
    margin: 3rem 0;
    padding: 2rem 0;
    flex-wrap: wrap;
    background-color: #464242;
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .header .flex .logo {
        font-size: 2rem;
    }

    .home .box img {
        height: 25rem;
    }

    .about .row .image img {
        width: 100%;
    }

    .gallery img {
        height: 25rem;
        width: 30rem;
    }
}

/* Contact Edit */
.text .row p{
    font-size: 20px;
    margin:0 1rem;
    /* width: 390px; */
    height: 30px;
    
}
.text .row i{
    font-size: 45px;
    margin:0 2rem;
}
.text .row h1{
    font-size: 20px;
    margin-left: 10rem;
    /* margin-top: 1rem; */
}
.text .row a{
    font-size: 43px;
    margin-right: 1rem;
    padding: 0 1rem;
    text-decoration: none;
}
.text .row .phone a{
    font-size: 23px;
    margin-right: 1rem;
    padding: 0 1rem;
    text-decoration: none;
}
.text .row .phone i{
    font-size: 0rem;
}
.text .row .phone p{
   margin-top: 3rem;
   margin-left: 6rem;
}

/* QR */
.qr  p{
    text-align: center;
    font-size: 15px;
    margin-top: 2rem;
}
.search{
    margin-top: 25px;
}
.search #inputSearch{
    height: 35px;
    border-radius: 8px;
    width: 70%;
}
.search label{
    margin-right: 5px;
}
.search ::placeholder {
    text-align: center;
}
.btn_search {
    margin-left: 10px;
    width: 60px;
    height: 35px;
    background-color: #00bd19;
    border-radius: 4px;
    padding: 5px 10px;
}
.filter_room{
    top: 75px !important;
    margin-top: 20px !important;
    margin-left: 0 !important;
    background-color: #eee;
    height: 500px;
    border-radius: 4px;
}
.filter_room h4 {
    margin-top: 5px !important;
}
/* .check_type input{
    width: 20px !important;
    height: 20px;
} */

